* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-color: #34495e; */
    --main-color: #fff;
    --main-font:'Segoe UI';
    --title-color: #ffffff;
    --list-color: #fff;
    --time-color: #fff;
    --border-color: #ddd;
    --bg-color: #757575;
    --tr-color: #0288d1 /*  #383838;*/
}

html {
    color: var(--main-color);
    font-family: var(--main-font);
}

.main {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    min-height: 185px;
    background-color: var(--bg-color); /* rgb(46, 46, 46, 0.85); */
    margin-top: 3%;
    border-radius: 2px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5), 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
  
.main-img img{
    width: 100%;
    height: 250px;
}

.title {
    text-align: center;
    color: var(--title-color);
    margin-bottom: 20px;
}

.listTitle {
    text-align: center;
    color: var(--list-color);
    margin-bottom: 20px;
}

.time {
    color: var(--time-color);
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}
  
.time:after {
    clear: both;
}

tr.heading {
	font-size: 120%;
	font-family: 'Segoe UI';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    background-color: var(--tr-color);
    color: var(--main-color);
}

.header {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 0 7px;
    width: 95%;
    margin: 0 auto;
}

.id {
    text-transform: uppercase;
}

.table td, .table th {
    padding: 8px;
    color: #333;
    text-align: center;

}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #009688;
    color: white;
    border: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.serverInfo {
    padding: 12px;
}
